@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.handwriting {
  font-family: 'Dancing Script', cursive;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 0;
  animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.logoFont{
  font-family: 'Dancing Script', cursive;
}
